.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.blur-section {
  filter: blur(10px);
}
