.custom-h-screen {
  height: 100vh;
}
/* Add this to your global styles */
.rotating-word {
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
