@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto Mono", sans-serif;
  color: #00ff00; /* Bright green for the body background */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  color: #ffff00; /* Yellow for headings */
  /* background-color: #242424; */
}
